<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Price Flot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-card class="product" routerLink="/product">
    <ion-card-header>
      <ion-card-subtitle>Gestion De Productos</ion-card-subtitle>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="sale" routerLink="/sale">
    <ion-card-header>
      <ion-card-subtitle>Gestion De Ventas</ion-card-subtitle>
      <ion-card-title>Ventas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="pricetags-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="purchase" routerLink="/purchase">
    <ion-card-header>
      <ion-card-subtitle>Gestion De Compras</ion-card-subtitle>
      <ion-card-title>Compras</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <ion-icon name="cash-outline"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="summary" routerLink="/summary">
    <ion-card-header>
      <ion-card-subtitle>Resumen Del Mes</ion-card-subtitle>
      <ion-card-title>Resumen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>
