<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Gestion De Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary">
          
      <ion-tab-button tab="map">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Purchase Product</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="podium-outline"></ion-icon>
        <ion-label>Month Expense</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
